.btn {
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-weight: 700;
}
.btn-blue {
  background-color: #3b82f6;
  color: #fff;
}
.btn-blue:hover {
  background-color: #1d4ed8;
}
.btn-blue-disabled {
  background-color: #3b82f6;
  color: #fff;
  opacity: 0.5;
}
.btn-red {
  background-color: #ef4444;
  color: #fff;
}
.btn-red:hover {
  background-color: #b91c1c;
}
.btn-red-disabled {
  background-color: #ef4444;
  color: #fff;
  opacity: 0.5;
}
